# Node
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Environment files
.env
.env.*
!.env.example

# Laravel
backend/vendor/
backend/storage/*.key
backend/storage/framework/
backend/storage/logs/
backend/bootstrap/cache/*
!backend/bootstrap/cache/.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*